@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Futura';
    src: url('../../public/fonts/futura-medium.woff2') format('woff2'),
      url('../../public/fonts/futura-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura';
    src: url('../../public/fonts/futura-heavy.woff2') format('woff2'),
      url('../../public/fonts/futura-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
}

@layer utilities {
  .clip-arrow-up {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .clip-arrow-down {
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
  }
}

/* More fine-grained control over exact position and size of triangle and
 * trapez shapes in navigation and post previews on homepage. Width / Height
 * ratio is 1.2. */
@responsive {
  .shape-small {
    width: 7rem;
    height: 5.833rem;
  }

  .shape-medium {
    width: 16rem;
    height: 13.333rem;
  }

  .shape-medium-2x {
    width: 16rem;
    height: 26.666rem;
  }

  /* Shape used for main navigation */
  .shape-navigation {
    width: 24rem;
    height: 20rem;
  }

  .shape-navigation-position {
    bottom: -12.92rem;
    left: -3.25rem;
  }
}
