@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Futura';
    src: url('../../public/fonts/futura-medium.woff2') format('woff2'),
      url('../../public/fonts/futura-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura';
    src: url('../../public/fonts/futura-heavy.woff2') format('woff2'),
      url('../../public/fonts/futura-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
}

@layer utilities {
  .clip-arrow-up {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .clip-arrow-down {
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
  }

  .clip-rhombus {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .ellipsis {
    @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
  }

  @responsive {
    .text-shadow {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

/* More fine-grained control over exact position and size of triangle and
 * rhombus shapes in navigation and post previews on homepage. Width / Height
 * ratio is 1.2 */
@responsive {
  .shape-small {
    width: 7rem;
    height: 5.833rem;
  }

  .shape-medium {
    width: 16rem;
    height: 13.333rem;
  }

  .shape-large {
    width: 16rem;
    height: 26.666rem;
  }

  /* Shape used for main navigation */
  .shape-navigation {
    width: 24rem;
    height: 20rem;
  }

  .shape-navigation-position {
    bottom: -12.92rem;
    left: -3.25rem;
  }
}

/* Classes used for CSS-only parallax scrolling effect */
@responsive {
  .parallax-container {
    perspective: 8px;
    perspective-origin: 0 0;
    -webkit-overflow-scrolling: touch;
    transform-style: preserve-3d;
  }

  .parallax-element-base {
    width: 30rem;
    height: 30rem;
  }

  .parallax-element {
    position: -webkit-sticky;
    transform-origin: 0 0;
  }

  .parallax-element-0 {
    transform: translateZ(0) scale(1);
  }

  .parallax-element-1 {
    transform: translateZ(1px) scale(0.875);
  }

  .parallax-element-2 {
    transform: translateZ(2px) scale(0.75);
  }

  .parallax-element-3 {
    transform: translateZ(3px) scale(0.625);
  }
}

/* Rendered Sanity block content */
.block-content figure {
  @apply my-8 sm:my-16;
}

.block-content img {
  @apply m-auto;
}

.block-content p + p {
  @apply my-5;
}
